.boardWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 5%;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.boardContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}
